<h1><%= @article.title %>
  <small>
    <%= link_to 'remove', delete_path(), method: :delete, data: { confirm: 'are you sure?' } %>
  </small>
</h1>
<br>
<%= form_for @article do |f| %>
  <%= f.label :tile %>
  <%= f.text_field :title %>

  <%= f.label :content%>
  <%= f.text_field :content %>

  <%= f.submit %>
<% end %>
